.content {
	color: white;
	padding-bottom: 15px;
	flex: 1 0 auto;

	&__container {
		height: 100%;

		@include media(w500) {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__column {
		margin-left: 50%;
		padding-top: 23px;
		padding-left: 90px;
		position: relative;
		width: 50%;

		@include media(w1024) {
			margin-left: 40%;
			width: 60%;
		}

		@include media(w768) {
			text-align: right;
			margin-left: 0;
			padding-left: 0;
			padding-right: 10%;
			width: auto;
		}

		@include media(w600) {
			
		}

		@include media(w500) {
			text-align: left;
			padding-right: 0;
			width: 66%;
		}
	}

	&__column-head {
		//margin-bottom: 84px;
		margin-bottom: 15%;

		@include media(w768) {
			margin-bottom: 10%;
			//margin-bottom: 40px;
			display: none;
		}

		@include media(w600) {
			
		}
	}

	&__column-img {
		transform: translateX(90px);
		max-width: 115px;

		@include media(w768) {
			transform: translateX(0);
			margin-right: 20%;
			max-width: 90px;
		}

		@include media(w500) {
			margin-right: 30%;
			max-width: 70px;
		}
	}

	&__offer {
		display: inline-block;
	}

	&__offer-logo {
		display: none;
		max-width: 80px;
		position: relative;
		z-index: 3;

		@include media(w768) {
			display: block;
			margin: 0 auto 30px;
		}
	}

	&__offer-note {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 15%;

		@include media(w600) {
			text-align: left;
			margin-bottom: 10%;
		}
	}

	&__offer-note-img {
		margin-left: -20px;
		max-width: 80px;

		@include media(w600) {
			margin-left: 0;
			max-width: 70px;
		}
	}

	&__offer-note-text {
		font-size: 22px;
		font-weight: bold;

		@include media(w600) {
			font-size: 20px;
		}
	}

	&__offer-note-decor {
		margin-top: -50px;
		margin-left: -20px;
	}

	&__offer-price {
		display: flex;
		align-items: center;
	}

	&__offer-price-value {
		display: flex;
		align-items: flex-start;
		line-height: 0.8;
		position: relative;

		@include media(w600) {
			justify-content: center;
		}

		img {
			width: 12px;
		}

		&_old {
			font-weight: 300;
			font-size: 75px;

			@include media(w600) {
				font-size: 55px;
			}

			@include media(w500) {
				font-size: 35px;
			}

			&:before {
				content: "";
				transform: translate(-50%,-50%) rotate(30deg);
				background-color: $main-red;
				position: absolute;
				top: 50%;
				left: 50%;
				height: 3px;
				width: 120%;
			}

			img {
				width: 12px;

				@include media(w500) {
					width: 8px;
				}
			}
		}

		&_new {
			font-weight: bold;
			font-size: 164px;

			@include media(w600) {
				font-size: 120px;
			}

			@include media(w500) {
				font-size: 100px;
			}

			img {
				width: 28px;

				@include media(w500) {
					width: 20px;
				}
			}
		}
	}

	&__offer-circle {
		border: 1px solid white;
		border-radius: 50%;
		display: inline-block;
		margin: 0 2px 0 6px;
		position: relative;
		height: 13px;
		width: 13px;

		@include media(w600) {
			height: 11px;
			width: 11px;
		}

		&:before {
			content: "";
			transform: translate(-50%,-50%) rotate(-45deg);
			background-color: rgba(255,255,255,0.5);
			position: absolute;
			top: 50%;
			left: 50%;
			height: 1px;
			width: 130%;
		}
	}

	&__offer-text {
		color: $main-red;
		font-size: 54px;
		font-weight: bold;
		text-transform: uppercase;

		@include media(w600) {
			font-size: 44px;
		}

		@include media(w500) {
			font-size: 32px;
		}
	}

	&__offer-items {
		display: flex;
		justify-content: space-between;
		//margin-bottom: 84px;
		margin-bottom: 20%;

		@include media(w768) {
			//margin-bottom: 40px;
		}

		@include media(w600) {
			margin-bottom: 10%;
		}

		@include media(w500) {
			flex-direction: column;
		}
	}

	&__offer-item {
		font-family: 'Bebas Neue Book', sans-serif;
		font-size: 17px;
		text-transform: uppercase;

		@include media(w600) {
			font-size: 14px;
		}

		@include media(w500) {
			font-size: 16px;
			margin-bottom: 4px;
		}
	}

	&__offer-btn {
		background-color: $main-red;
		border-radius: 60px;
		display: block;
		color: white;
		font-size: 48px;
		text-decoration: none;
		//margin-bottom: 90px;
		padding: 10px 23px 4px;

		@include media(w768) {
			//margin-bottom: 40px;
		}

		@include media(w600) {
			font-size: 36px;
		}

		@include media(w500) {
			font-size: 26px;
		}

		&:hover {
			animation: btnAnim 0.8s 0s ease-out 1;
		}
	}

	&__column-img-decor {
		position: absolute;

		&_top {
			transform: translate(-50%, -10px);
			top: 0;
			left: 0;

			@include media(w768) {
				transform: translate(10%, -20%);
			}

			@include media(w600) {
				transform: translate(0, -40%);
				left: auto;
				right: 60%;
				width: 150px;
			}

			@include media(w500) {
				right: 80%;
			}
		}
		
		&_bottom {
			transform: translate(-50%, 30%);
			top: 100%;
			left: 100%;

			@include media(w1024) {
				transform: translate(-30%, 30%);
			}

			@include media(w768) {
				transform: translate(-20%, 20%);
				bottom: auto;
				top: 100%;
				left: auto;
				right: 0;
			}

			@include media(w600) {
				transform: translate(50%, 20%);
			}
		}
	}
}

@keyframes btnAnim {
    from {
        box-shadow: 0 0 8px 6px $main-red, 0 0 12px 14px $main-red;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}