.wrapper {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	padding-bottom: 72px;
	position: relative;
	min-height: 100vh;

	@include media(w1024) {
		background-position: center;
	}

	@include media(w600) {
		padding-bottom: 60px;
	}

	&__img {
		transform: translate(16%, -50%);
		position: absolute;
		top: 50%;
		right: 50%;

		@include media(w1024) {
			right: 60%;
		}

		@include media(w768) {
			transform: translate(18%, 50px);// rotate(20deg);
			top: 0;
			right: 60%;
		}

		@include media(w600) {
			transform: rotate(10deg);
			height: 100%;
			//transform: translate(0, -50%);
			//right: 70%;
		}

		@include media(w500) {
			transform: rotate(-18deg) scaleY(-1);
			top: -3%;
			right: 45%;
			//display: none;
			z-index: 2;
		}
	}
}