.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-footer-icon-actions {
	font-size:(13.8/10)*1rem;
	width:(13.8/13.8)*1em;
}
.icon-footer-icon-menu {
	font-size:(26.9/10)*1rem;
	width:(23.4/26.9)*1em;
}
.icon-footer-icon-places {
	font-size:(169.3/10)*1rem;
	width:(169.5/169.3)*1em;
}
.icon-icon-minutes {
	font-size:(92/10)*1rem;
	width:(132.3/92)*1em;
}
.icon-icon-rub {
	font-size:(8.6/10)*1rem;
	width:(2.8/8.6)*1em;
}
.icon-logo {
	font-size:(444/10)*1rem;
	width:(442.5/444)*1em;
}
