footer.footer
	div.container.footer__container
		ul.footer__list
			li.footer__list-item
				a(href="https://spb.pizzahut.ru/menu/hot-pizza/").footer__list-link
					span.footer__list-img-wrap
						img(src="img/footer-icon-menu.svg", alt="").footer__list-img.footer__list-img_menu
					p.footer__list-text.
						Меню
			li.footer__list-item
				a(href="https://spb.pizzahut.ru/restaurants/").footer__list-link
					span.footer__list-img-wrap
						img(src="img/footer-icon-places.svg", alt="").footer__list-img.footer__list-img_places
					p.footer__list-text.
						Зоны доставки
			li.footer__list-item
				a(href="https://spb.pizzahut.ru/actions/").footer__list-link
					span.footer__list-img-wrap
						img(src="img/footer-icon-actions.svg", alt="").footer__list-img.footer__list-img_actions
					p.footer__list-text.
						Акции